<div class="form_item_block">
    <label>Jenkins URL<span class="asterisk">*</span></label>
    <input type="text" ng-model="url" style="width:500px;"/>
    <span class="form_error" ng-show="GOINPUTNAME[url].$error.server">{{ GOINPUTNAME[url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Job name<span class="asterisk">*</span></label>
    <input type="text" ng-model="job" style="width:500px;"/>
    <span class="form_error" ng-show="GOINPUTNAME[job].$error.server">{{ GOINPUTNAME[job].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Username<span class="asterisk">*</span></label>
    <input type="text" ng-model="username" style="width:500px;"/>
    <span class="form_error" ng-show="GOINPUTNAME[username].$error.server">{{ GOINPUTNAME[username].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Password<span class="asterisk">*</span></label>
    <input type="text" ng-model="password" style="width:500px;"/>
    <span class="form_error" ng-show="GOINPUTNAME[password].$error.server">{{ GOINPUTNAME[password].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Params</label>
    <textarea ng-model="params" style="width:500px;"></textarea>
    <span class="form_error" ng-show="GOINPUTNAME[params].$error.server">{{ GOINPUTNAME[params].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Additional options:</label>
    <div class="checkbox_row">
        <input id="printlog2" type="checkbox" ng-model="printlog2" ng-init="printlog2 = printlog" ng-change="printlog = printlog2" ng-true-value="true" ng-false-value="false">
        <input id="printlog" type="hidden" ng-model="printlog" value="{{printlog}}">
        <label for="printlog">Print jenkins log</label>
    </div>
</div>
