<div class="form_item_block">
    <label>Jenkins URL<span class="asterisk">*</span></label>
    <input type="text" ng-model="url" ng-required="false" style="width:500px;"/>
    <span class="form_error" ng-show="GOINPUTNAME[url].$error.server">{{ GOINPUTNAME[url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Job name<span class="asterisk">*</span></label>
    <input type="text" ng-model="jobname" ng-required="false" style="width:500px;"/>
    <span class="form_error" ng-show="GOINPUTNAME[jobname].$error.server">{{ GOINPUTNAME[jobname].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Username<span class="asterisk">*</span></label>
    <input type="text" ng-model="username" ng-required="false" style="width:500px;"/>
    <span class="form_error" ng-show="GOINPUTNAME[token].$error.server">{{ GOINPUTNAME[username].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Password<span class="asterisk">*</span></label>
    <input type="text" ng-model="password" ng-required="false" style="width:500px;"/>
    <span class="form_error" ng-show="GOINPUTNAME[password].$error.server">{{ GOINPUTNAME[password].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Params</label>
    <textarea ng-model="params" ng-required="false" style="width:500px;"></textarea>
    <span class="form_error" ng-show="GOINPUTNAME[params].$error.server">{{ GOINPUTNAME[params].$error.server }}</span>
</div>
